.login {
  background-color: #282c3e;
  color: white;
  width: 100vw;
  height: 100vh;
}

.login-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 30rem;
}

.login-content > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-content > form > * {
  margin: 0.5rem 0;
}

.login-content > form > input {
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
}
